<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1><%= Flight Plan %></h1>
    <p><%= Flight Plan %></p>
</body>
</html>
