<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= Flight Plan %></h1>
    <p><%= Flight Plan %></p>
</body>
</html>
