

<%- include('../partials/header') %>

<div>Please use airport ICAO identifier and ensure that it is not in the following list before adding:</div>
<section id="badge-container">
  <% enroutes.forEach(function(p) { %>
    <article class="badge"><%= p.enrouteAlternate %></article>
  <% }) %>
</section>

<form id="add-enroute-form" action="/enroutes" method="POST">
  <label>ENROUTE/ALTERNATE:</label>
  <input type="text" name="enrouteAlternate">
  <label>Date:</label>
  <input type="date" name="eta">
  <input type="submit" style="width:300px;" value="Add Enroute/Alternate">
</form>
<p></p>
<h3>Here are some links for flight planning:
  <p></p>
  <ul>
    <li><a href="https://aviationweather.gov/" target="_blank">Check weather along your route (NOAA)</a></li>
    <li><a href="https://aviationweather.gov/metar" target="_blank">METAR</a></li>
    <li><a href="https://aviationweather.gov/taf" target="_blank">TAF</a></li>
    <li><a href="https://aviationweather.gov/airep" target="_blank">PIREP</a></li>
    <li><a href="https://aviationweather.gov/sigmet" target="_blank">SIGMET</a></li>
    <li><a href="https://aviationweather.gov/windtemp" target="_blank">Winds Aloft</a></li>
    <li><a href="https://aviationweather.gov/taf" target="_blank">Sky Vector Aeronautical Charts</a></li>
    <li><a href="https://www.airnav.com/airports/search.html" target="_blank">AirNav Airport Search</a></li>
    <li><a href="https://tfr.faa.gov/tfr2/list.html" target="_blank">Check Temporary Flight Restrictions (TFR'S)</a></li>
    <li><a href="https://www.notams.faa.gov/dinsQueryWeb/" target="_blank">Check Notices to Airmen (NOTAMS)</a></li>
  </ul>
</h3>
<%- include('../partials/footer') %>


