<%- include('../partials/header') %>

<form id="new-form" action="/flights" method="POST">
  <label>DEPARTURE:</label><br>
  <input type="text" name="departure"><br><p></p>
  <label>ARRIVAL:</label><br>
  <input type="text" name="arrival"><br><p></p>
  <label>VFR/IFR:</label>
  <select name="vfrOrIfr">
    <option value="VFR">VFR</option>
    <option value="MVFR">MVFR</option>
    <option value="IFR">IFR</option>
    <option value="CANCELLED DUE TO WEATHER">CANCELLED DUE TO WEATHER</option>
  </select><br><p></p>
  <label>DESTINATION HAS FUEL?</label>
  <input type="checkbox" name="destinationHasFuel" checked>
  <input type="submit" value="ADD FLIGHT">
</form>
<p></p>
<h3 class="links">Here are some helpful planning links:</h3>
<ul>
  <li><a href="https://skyvector.com/" target="_blank">SkyVector</a></li>
  <li><a href="https://e6bx.com/weight-balance/" target="_blank">Weight and Balance</a></li>
  <li><a href="https://e6bx.com/e6b/" target="_blank">E6B</a></li>
  <li><a href="https://e6bx.com/navlog/" target="_blank">NavLog</a></li>
</ul>
<%- include('../partials/footer') %>
